*{
    font-family: montserrat;
}
body{
    background-color: #ffffff;
}
.secttion-padding{
    padding: 100px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 180px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner {
    position: relative; 
}

.carousel-inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1; 
}

.carousel-caption {
    z-index: 2; 
}
.navbar-nav a{
    font-family: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-light .navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar-light .navbar-nav .navbar-link,
.navbar-light .navbar-brand:hover {
    color: #000;
}
.navber-light .navbar-nav .nav-link{
     color: #000;
}
.w100{
    height: 100vh;
}

.services .card-body{
    font-size: 50px;
}
.team .card-body{
    font-size: 20px;
}
.portfolio .card{
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
}
.team .card{
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
}
.about-text{
   padding-top: 10px;
}
.card{
    margin-top: 10px;
}
.section-header{
    margin-bottom: 20px;
}
/* ===== responsive css ===== */

@media only screen and (min-width:768px) and (max-width:991px) {
    .carousel-caption{
        font-size: 370px;
    }
    .carousel-caption p{
        width: 100%;
    }
    
}

@media only screen and (max-width: 768px) {

    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }

    
}